.underConstruction__container{
    background-size: cover;
    height: 100vh;
}

.underConstruction__container h1 {
    text-align: center;
    font-weight: 500;
    font-size: 22px;
}

.underConstruction__container .title {
    font-weight: 600;
    margin-top: 50px;
    font-size: 30px;
    text-decoration: underline;
    color: #2c3e50;
  }

.underConstruction__container video {
  max-width: 35vw;
  display: block;
  margin: 40px auto;
  border-radius: 1rem;
  box-shadow: 2px 10px 10px 6px rgb(104 110 224 / 15%);
  -webkit-box-shadow: 2px 10px 10px 6px rgb(104 110 224 / 15%);
  -moz-box-shadow: 2px 10px 10px 6px rgba(104, 110, 224, 0.15);
}

.underConstruction__container > .footer{
    text-align: center;
    margin-top: 30px;
    color: #9a9a9a;
}
